html,
body {
  min-width: 300px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

::-webkit-scrollbar {
  width: 0px;
}

a {
  color: unsert;
  text-decoration: none;
}

li {
  list-style: none;
}
